*
{
    margin:0px;
    padding:0px;
}
.container
{
    height:100vh;
    width:100vw;
    display:flex;flex-direction:column;align-items:center;
}
.card
{
    height:80%;
    width:30%;
    border:1px solid whitesmoke;
    margin-top:30px;    
    display:none;
}


.top-text
{
    height:10%;
    width:100%;
    border:1px solid black;
    background-color:grey;
    color:white;
}
.middle-text
{
    display:flex;
    justify-content:space-between;
}
li
{
    margin:35px;
}
span
{
    color:gray;
}
.final-div
{
    height:8%;width:80%;border:1px solid green;margin-top:20px;margin-left:35px;border-radius:10px;
    display:flex;justify-content:center;align-items:center;
}
button{
    background-color:orange;color:white;border:1px solid orange;border-radius:3px;
    margin-left:80px;height:6%; margin-top:10px;width:60%; cursor:pointer;
}
.more-details
{
    height:5%;width:100%;border:1px solid whitesmoke;background-color:whitesmoke;display:flex;justify-content:center;align-items:center;
    margin-top:22px;font-size:12px;
}
a{
    text-decoration:none;
}
#popup
{
    border:1px solid black;
    height:80%;
    width:80%;
    z-index:1;
    position:fixed;
    left:10%;
    top:10%;
    background-color:whitesmoke;
}
.popup2
{
    display:none;
}
.popupBoxContent
{
    border:1px solid black;
    height:70px;
    width:380px;
    margin-top:10px;
    margin-left:20px;
}
.greenContent
{
border:1px solid green;
height:40%;
width:100%;
color:white;
background-color:green;
}